<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LambdaTestingSuite" parallel="methods" thread-count="2">
    <test name="SimpleWebTests">
        <classes>
            <class name="com.datetimechecker.lambda.DateValidationLambdaTest"/>
            <class name="com.datetimechecker.lambda.DaysCalculationLambdaTest"/>
        </classes>
    </test>
</suite>

